body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: burlywood;
    color: royalblue;
}

.container > .content {
    margin-left: 30px;
    margin-top: 100px;
    font-style: italic;
    font-size: large;
}

.container > .table-wrapper {
    font-family: cursive;
}