body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: burlywood;
    color : Black;
}

.container > .profile {
    padding : 15px;
}

.container > .profile > .myphoto {
    width : 200px;
    height :100%;
}

.container > .profile > .intro {
    float : right;
    font-size: larger;
    margin : 
}