body {
    background-image: url("images/coding.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: beige;
    color: white;
}
/* navigation bar */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.left-nav-wrapper > .brand {
    margin-left: 10px;
    color: rgb(243, 159, 3);
    text-transform: capitalize;
    font-size: 20px;
}

.left-nav-wrapper > .brand :hover {
    color: yellowgreen;
    font-size: larger;
}

.right-nav-wrapper {
    display: flex;
}

.right-nav-wrapper > .nav-link-wrapper {
    margin-right: 20px;
    text-transform: capitalize;
}

.right-nav-wrapper > .nav-link-wrapper a {
    color: royalblue;
    text-decoration: none;
    transition: color 0.5s;
}

.right-nav-wrapper > .nav-link-wrapper a:hover {
    color: red;
    border-bottom: 1px solid black;
    font-size: larger;
}